# Menarik data iris dari prosgesql dan dibaca dengan python dijadikan dataframe

In [3]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.5-cp39-cp39-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 3.4 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\asus\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (1.4.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: You are using pip version 22.0.4; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\users\asus\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

# Koneksi database

In [16]:
import psycopg2
import pandas as pd
# Connection parameters, yours will be different
param_dic = {
    "host"      : "localhost",
    "database"  : "pendata",
    "user"      : "postgres",
    "password"  : "desinta699"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

In [17]:
def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    
    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()
    
    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df

# menampilkan dataframe table yang di database

In [18]:
# Connect to the database
conn = connect(param_dic)

column_names = ["sepal_length", "sepal_width", "petal_length", "petal_width","variety"]
# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from iris", column_names)
df.head()

Connecting to the PostgreSQL database...
Connection successful

  sepal_length sepal_width petal_length petal_width variety
0          5.1         3.5          1.4          .2  Setosa
1          4.9           3          1.4          .2  Setosa
2          4.7         3.2          1.3          .2  Setosa
3          4.6         3.1          1.5          .2  Setosa
4            5         3.6          1.4          .2  Setosa